.regi-header{
    margin-top: 2rem;
}

.register-container{
    position: fixed;
    height: fit-content;
    width: 50%;
    top: 40%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}
.register-button{
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
    
}

.btn{
    margin-right: 2rem;
}